/* Buttons */

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	width: fit-content;
	min-width: 183px;
	height: 43px;
	padding: 0 10px;
	border: 1px solid $white;
	border-radius: 4px;
	background: $main-color;
	color: $white;
	font-weight: 400;
	font-size: 13px;
	text-transform: uppercase;
	transition: 0.3s, min-width 0s;
	
	@media (hover: hover) {
		&:hover {
			filter: brightness(120%);
			cursor: pointer;
		}
	}

	&_white {
		color: $lightblack;
		border-color: $lightblack;
		background: $white;

		@media (hover: hover) {
			&:hover {
				filter: none;
				color: $main-color;
				border-color: $main-color;
			}
		}
	}

	&_big {
		height: 48px;
		min-width: 100%;
		font-weight: 600;
		font-size: 15px;
	}
	
	&:active {
		transform: scale(0.95);
	}
}