/* Main */

.main {
	min-height: 100vh;
	padding-top: $header-height;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: url(../img/main-bg.jpg) top center / cover no-repeat;

	&__container {
		padding-top: adaptive(50, 100);
		padding-bottom: adaptive(50, 100);
		display: grid;
		grid-gap: adaptive(35, 80);
	}

	&__title {
		font-size: adaptive(28, 48);
		margin-bottom: 0;
		max-width: 800px;
	}

	&__text {
		font-size: adaptive(16, 20);

		ul {
			margin-top: 10px;
			display: grid;
			grid-gap: 5px;

			li {
				margin-left: 1em;

				&::marker {
					content: "-  ";
				}
			}

		}
	}

	&__buttons {
		display: flex;
		flex-wrap: wrap;
		gap: 15px 30px;
	}

}
