/* Main */

.main {
	min-height: 100vh;
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: url(../img/main-bg.jpg) top center / cover no-repeat;

	&__container {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	&__title {
		display: block;
		// font-size: adaptive(40, 64);
		margin-bottom: 0.5em;
	}

	&__text {
		font-size: adaptive(18, 28);
	}

	&__icons {
		display: flex;
		gap: 60px;
		margin-top: 20px;
	}

	&__icon {
		width: 80px;
		height: 80px;
		color: $main-color;
	}
}
