/* Global */

body {
	font-family: $font-family;
	font-weight: 400;
	font-size: $text-size;
	color: $black;
	background: $white; 
	position: relative;
	min-width: #{$min-width}px;
}

.container, [class$="container"] {
	@extend %container;
}

.title {
	font-weight: 700;
	font-size: $title-size;
	display: block;
	margin-bottom: 0.833em;
	text-transform: uppercase;
	
	span {
		color: $main-color;
	}
}

a {
	color: $main-color;
}
a, a:before, a > *, button, .button {
	transition: 0.3s;
}

p:not(:last-child) {
	margin-bottom: 1em;
}

svg {
	fill: currentColor;
}