<footer class="footer">
	<div class="footer__container">
		<div class="footer__copyright">
			© 2018 «LOREMIPSUM.NET» Все&nbsp;права&nbsp;защищены.
		</div>
		<div class="footer__separ"></div>
		<div class="footer__group">
			<div class="footer__item">
				<img class="footer__icon" src="img/icons.svg#qiwi" alt="">
				Qiwi wallet
			</div>
			<div class="footer__item">
				<img class="footer__icon" src="img/icons.svg#yamoney" alt="">
				Yandex Money
			</div>
			<div class="footer__item">
				<img class="footer__icon" src="img/icons.svg#webmoney" alt="">
				Web Money
			</div>
		</div>
		<div class="footer__separ"></div>
		<div class="footer__group">
			<a class="footer__item" href="mailto:info@ipsum228.com">
				<img class="footer__icon" src="img/icons.svg#email" alt="">
				info@ipsum228.com
			</a>
			<a class="footer__item" href="https://vk.com/" target="_blank">
				<img class="footer__icon" src="img/icons.svg#vk" alt="">
				Мы вконтакте
			</a>
		</div>
	</div>
</footer>