<section class="main">
	<div class="main__container">
		<h1 class="main__title title"><span>Lorem ipsum</span> dolor sit ametconsectetur <span>adipiscing</span></h1>
		<p class="main__text">Небольшой текст для главной</p>
		<div class="main__icons">
			<svg class="main__icon">
				<use xlink:href="img/icons.svg#buy"></use>
			</svg>
			<svg class="main__icon">
				<use xlink:href="img/icons.svg#shop"></use>
			</svg>
			<svg class="main__icon">
				<use xlink:href="img/icons.svg#user"></use>
			</svg>
			<svg class="main__icon">
				<use xlink:href="img/icons.svg#search"></use>
			</svg>
			<svg class="main__icon">
				<use xlink:href="img/icons.svg#yamoney"></use>
			</svg>
		</div>
	</div>
</section>