<section class="main">
	<div class="main__container">
		<h1 class="main__title title"><span>Lorem ipsum</span> dolor&nbsp;sit ametconsectetur <span>adipiscing</span></h1>
		<article class="main__text">
			<b>At vero eos et accusamus et iusto odio dignissimos ducimus!</b>
			<ul>
				<li>Totam rem aperiam eaque ipsa</li>
				<li>Sit voluptatem accusantium doloremque laudantium</li>
				<li>Sed ut perspiciatis, unde omnis iste natus&nbsp;error</li>
			</ul>
		</article>
		<div class="main__buttons">
			<button class="button">заказать</button>
			<button class="button button_white">подробнее</button>
		</div>
	</div>
</section>