<section class="order">
	<div class="order__container">
		<h2 class="order__title title">Оформление <span>Заказа</span></h2>
		<div class="order__text">Перед заполнением формы ознакомьтесь с нашей схемой работы!</div>
		<div class="order__steps">
			<ul class="order__steps-list">
				<li class="order__steps-item">
					<span class="order__steps-icon">
						<img src="img/icons.svg#search" alt="">
					</span>
					Lorem ipsum dolor sit amet
				</li>
				<li class="order__steps-item">
					<span class="order__steps-icon">
						<img src="img/icons.svg#percent" alt="">
					</span>
					Сonsectetur adipiscing elit
				</li>
				<li class="order__steps-item">
					<span class="order__steps-icon">
						<img src="img/icons.svg#file" alt="">
					</span>
					Sed do eiusmod tempor
				</li>
				<li class="order__steps-item">
					<span class="order__steps-icon">
						<img src="img/icons.svg#message" alt="">
					</span>
					Esse cillum dolore eu fugiat
				</li>
				<li class="order__steps-item">
					<span class="order__steps-icon">
						<img src="img/icons.svg#money" alt="">
					</span>
					Excepteur sint occaecat cupidatat non proident
				</li>
			</ul>
		</div>
		<form class="order__form form" action="#">
			<div class="form__select">
				<input class="form__input form__input_select" type="text" value="" placeholder="Выберите тип системы" readonly>
				<div class="form__select-options">
					<div class="form__select-scrollbar">
						<div class="form__select-item">Sed ut perspiciatis</div>
						<div class="form__select-item">Nemo enim ipsam</div>
						<div class="form__select-item">Et harum quidem</div>
						<div class="form__select-item">Temporibus autem</div>
						<div class="form__select-item">Itaque earum rerum</div>
						<div class="form__select-item">Sed ut perspiciatis</div>
						<div class="form__select-item">Nemo enim ipsam</div>
						<div class="form__select-item">Et harum quidem</div>
						<div class="form__select-item">Temporibus autem</div>
						<div class="form__select-item">Itaque earum rerum</div>
					</div>
				</div>
			</div>
			<input class="form__input" type="email" name="email" placeholder="Ваш e-mail" required>
			<input class="form__input" type="text" name="name" placeholder="Ваше имя" required>
			<div class="order__form-range form__range">
				<label for="range">Sed ut perspiciatis, unde omnis iste natus</label>
				<span class="form__range-value">0%</span>
				<input class="form__range-input" type="range" name="range" id="range" min="0" max="100" value="75">
			</div>
			<label class="form__file button button_white button_big">
				<input class="form__file-input" name="file" type="file">
				<svg class="form__file-icon">
					<use href="img/icons.svg#upload"></use>
				 </svg>
				<span class="form__file-text">Прикрепить файл</span>
			</label>
			<div class="order__form-footer">
				<button class="order__form-button button button_big" type="submit">Отправить</button>
			</div>
		</form>
	</div>
</section>